---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Icon } from "astro-icon/components";
import BlogPostCard from "@/components/BlogPostCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }

      main {
        max-width: calc(100% - 2em);
      }

      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="py-2">
        <a href="https://trap.jp/author/ikura-hamu" target="_blank">
          <div class="flex">
            <div>traPでのブログ</div>
            <Icon name="ri:external-link-fill" />
          </div>
        </a>
      </div>

      <hr class="border-4 border-primary py-4" />

      <section>
        <ul class="">
          {
            posts.map((post) => (
              <li>
                <BlogPostCard post={post} />
                {/* <a href={`/blog/${post.slug}/`} class="post-link">
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage ?? "/favicon.png"}
                    alt={post.data.title}
                    class="border-2 border-primary"
                  />
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                    {post.data.updatedDate && (
                      <>
                        <br>
                        <FormattedDate
                          date={post.data.updatedDate ?? post.data.pubDate}
                        />
                        <span class="text-gray-500">更新</span>
                      </>
                    )}
                  </p>
                </a> */}
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
