---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Icon } from "astro-icon/components";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
        position: absolute;
        top: 70%;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
        position: absolute;
        bottom: 0;
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }

      main {
        max-width: calc(100% - 2em);
      }

      .post-link {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: calc(
          540 / 720 * 100%
        ); /* アスペクト比を維持するための padding-top */
      }

      .post-link img {
        position: absolute;
        width: 100%;
        height: 66%;
        object-fit: cover; /* 画像を親要素に合わせて調整 */
        top: 0;
        left: 0;
      }

      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="py-2">
        <a href="https://trap.jp/author/ikura-hamu" target="_blank">
          <div class="flex">
            <div>traPでのブログ</div>
            <Icon name="ri:external-link-fill" />
          </div>
        </a>
      </div>

      <hr class="border-4 border-primary py-4" />

      <section>
        <ul class="">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`} class="post-link">
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage ?? "/favicon.png"}
                    alt={post.data.title}
                    class="border-2 border-primary"
                  />
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
