---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Code } from "astro:components";
import { Image } from "astro:assets";
import icon from "../images/icon.png";

import { SITE_TITLE, SITE_DESCRIPTION, SHIKI_THEME } from "../consts";

const code = `> go run go.ikura-hamu.work/card@latest`;
---

<!doctype html>
<html lang="ja-JP">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>ようこそ</h1>
      <h2>すべての{" "}いくら{" "}と{" "}ハムを<br />愛する人々へ</h2>
      <Image src={icon} alt="いくら・はむ" />

      <Code code={code} lang="sh" theme={SHIKI_THEME} />
    </main>
    <Footer />
  </body>
</html>
