---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

interface Props {
  post:
    | CollectionEntry<"blog">
    | {
        title: string;
        url: string;
        pubDate: Date;
        heroImage: string;
      };
}
const { post } = Astro.props;

const isCollectionEntry = (
  post:
    | CollectionEntry<"blog">
    | { title: string; url: string; pubDate: Date; heroImage: string }
): post is CollectionEntry<"blog"> => {
  return (post as CollectionEntry<"blog">).data !== undefined;
};

const generalPost = isCollectionEntry(post)
  ? {
      url: `/blog/${post.slug}/`,
      title: post.data.title,
      heroImage: post.data.heroImage ?? "/favicon.png",
      heroImageContent: post.data.heroImageContent ?? null,
      pubDate: post.data.pubDate,
      updatedDate: post.data.updatedDate,
      internal: true,
    }
  : {
      ...post,
      internal: false,
    };
---

<style>
  .card:hover {
    box-shadow: var(--box-shadow);
  }

  a {
    color: var(--accent);
  }
</style>

<div class="rounded-lg px-s4 py-s2 max-w-md mx-auto card">
  <a
    href={generalPost.url}
    class="block"
    target={generalPost.internal ? "" : "_blank"}
    rel={generalPost.internal ? "" : "noopener noreferrer"}
  >
    <div class="border-2 border-primary overflow-hidden rounded-lg mb-s2">
      {
        generalPost.heroImageContent ? (
          <Image
            src={generalPost.heroImageContent}
            alt={generalPost.title}
            class="w-full h-36 object-cover"
          />
        ) : (
          <img
            src={generalPost.heroImage ?? "/favicon.png"}
            alt={generalPost.title}
            class="w-full h-36 object-cover"
          />
        )
      }
    </div>
    <h3 class="text-xl font-semibold mb-s1">
      {generalPost.title}
      {
        generalPost.internal ? null : (
          <Icon
            name="ri:external-link-fill"
            class="inline-block w-4 h-4 ml-1"
          />
        )
      }
    </h3>
    {
      generalPost.pubDate && (
        <p class="text-gray-500">
          <FormattedDate date={generalPost.pubDate} />
        </p>
      )
    }
    {
      generalPost.updatedDate && (
        <p class="text-gray-500 date">
          <FormattedDate
            date={generalPost.updatedDate ?? generalPost.pubDate}
          />
          <span>更新</span>
        </p>
      )
    }
  </a>
</div>
