---
import { JSDOM } from "jsdom";

interface Props {
  url: string;
  showURL?: boolean;
}

const { url, showURL } = Astro.props;

const fetchOgp = async (url: string) => {
  const fetchWithRetry = async (url: string, retries = 3, delay = 1000) => {
    for (let i = 0; i < retries; i++) {
      try {
        const res = await fetch(url);
        if (!res.ok) throw new Error(`HTTP error! status: ${res.status}`);
        return res;
      } catch (error) {
        if (i < retries - 1) {
          await new Promise((resolve) => setTimeout(resolve, delay));
        } else {
          throw error;
        }
      }
    }
  };

  const res = await fetchWithRetry(url);
  const text = await res?.text();
  const doms = new JSDOM(text);
  const metas = doms.window.document.getElementsByTagName("meta");

  const metaData = {
    title: "",
    description: "",
    image: "",
  };

  for (let i = 0; i < metas.length; i++) {
    const meta = metas[i];
    if (meta.getAttribute("property") === "og:title") {
      metaData.title = meta.getAttribute("content") ?? "";
    }
    if (meta.getAttribute("property") === "og:description") {
      metaData.description = meta.getAttribute("content") ?? "";
    }
    if (meta.getAttribute("property") === "og:image") {
      metaData.image = meta.getAttribute("content") ?? "";
    }
  }

  return metaData;
};

const metaData = await fetchOgp(url);
---

<a href={url} target="_blank" rel="noopener noreferrer">
  <div
    class="max-w-full border-2 border-primary rounded-lg hover:shadow-lg transition-all duration-300 ease-in-out overflow-hidden my-4 bg-[var(--card-bg)]"
  >
    {
      metaData.image && (
        <div class="grid grid-cols-[30%_70%] max-h-28 content-center items-center">
          <img
            src={metaData.image}
            alt={metaData.title}
            class="max-h-full w-auto object-center object-cover"
          />
          <div class="px-2">
            <h5 class="truncate text-[var(--text-color)]">{metaData.title}</h5>
            <div class="text-xs">{url}</div>
          </div>
        </div>
      )
    }
    {
      !metaData.image && (
        <div class="grid h-28 content-center items-center">
          <div class="px-2">
            <h5 class="truncate text-[var(--text-color)]">{metaData.title}</h5>
            <div class="text-xs">{url}</div>
            <div class="text-ellipsis text-sm">{metaData.description}</div>
          </div>
        </div>
      )
    }
  </div>
</a>
{
  showURL && (
    <div class="mb-4">
      <a href={url} target="_blank" rel="noopener noreferrer">
        {url}
      </a>
    </div>
  )
}
