---
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import { replaceURL } from "@/util/url";
import ViewMoreButton from "./ViewMoreButton.astro";

interface Props {
  workType: string;
  extraContent?: {
    icon: string;
    name: string;
    url: string;
  };
}

const { workType, extraContent } = Astro.props;
const allWorks = await getEntry("work", workType);
if (!allWorks) {
  throw new Error(`No works found ${workType}`);
}

const works = allWorks.data.map((work) => {
  return {
    title: work.title,
    subtitle: work.subtitle,
    heroImage: work.heroImage,
    heroImageContent: work.heroImageContent,
    tags: work.tags,
    description: replaceURL(work.description),
    links: work.links,
  };
});
---

<div class="flex flex-col gap-s4">
  <div class="grid grid-cols-[repeat(auto-fill,_minmax(300px,_1fr))] gap-s3">
    {
      works.map((work) => (
        <div class="flex flex-col border-2 rounded-md min-w-[300px] max-w-full p-s2 gap-s2 work-card">
          <a
            href={work.links.filter((link) => link.primary)[0].url}
            class="hover:duration-150 rounded-md p-s1 work-link flex flex-col gap-s2"
          >
            <div class="flex justify-center h-32 overflow-hidden">
              {
                work.heroImageContent ? (
                  <Image
                    src={work.heroImageContent}
                    alt={work.title}
                    class="object-contain h-full w-full"
                  />
                ) : (
                  <img
                    src={work.heroImage ?? "/favicon.png"}
                    alt={work.title}
                    class="object-contain h-full w-full"
                  />
                )
              }
            </div>

            <h5 class="truncate my-0" title={work.title}>
              <div class="inline">{work.title}</div>
              <Icon name="codicon:link-external" class="inline ml-s1 text-xs" />
            </h5>

            {work.subtitle && (
              <h6 class="leading-tight my-0">{work.subtitle}</h6>
            )}
          </a>

          <div class="flex gap-s2">
            {work.tags.map((tag) => (
              <div class="text-sm bg-primary text-white rounded-md px-s2">
                #{tag}
              </div>
            ))}
          </div>

          <div class="text-base" set:html={work.description} />

          <div class="grid grid-cols-3 gap-s2 mt-auto">
            {work.links.map((link) => (
              <a
                href={link.url}
                class="rounded-lg hover:duration-150 work-link-item"
                title={link.name}
              >
                <div class="flex items-end self-end text-primary">
                  <Icon name={link.icon} class="text-3xl" />{" "}
                  <div class="text-xs">{link.name}</div>
                </div>
              </a>
            ))}
          </div>
        </div>
      ))
    }
  </div>

  {
    extraContent && (
      <ViewMoreButton
        extraContent={{
          icon: extraContent.icon,
          name: extraContent.name,
          url: extraContent.url,
        }}
      />
    )
  }
</div>

<style>
  .work-card {
    border-color: var(--text-color);
    transition: border-color 0.3s ease;
  }

  .work-link:hover {
    background-color: var(--hover-bg);
  }

  .work-link-item:hover {
    background-color: var(--hover-bg);
  }
</style>
